@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Poppins-Regular', serif;
  font-size: 1rem;
}

.container {
  max-width: 1171px;
  width: 100%;
  margin: auto;
}

.header {
  width: 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.125rem 0;
}

.header__top-link {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 1.875rem;
}

.header__top-link:last-of-type {
  margin-right: 0;
}

.header__menu {
  background-color: #ba0000;
}

.header__bottom {
  background-color: #ffcc00;
}

.header__bottom-link {
  background: #ba0000 url("../img/loop.png") no-repeat center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__bottom-link:hover {
  -webkit-filter: drop-shadow(0 5px 20px #ba0000);
          filter: drop-shadow(0 5px 20px #ba0000);
}

.nav {
  padding: 2.5rem 0;
}

.nav__item {
  padding: 2.187rem 0;
  margin-right: 2.8rem;
  color: #ba0000;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.nav__item:hover {
  font-weight: bold;
  border-bottom: 4px solid #ba0000;
}

.nav__item:last-of-type {
  margin-right: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero {
  position: relative;
  padding: 11.18rem;
  background: url("../img/hero.jpeg") no-repeat center/cover;
}

.hero__content {
  position: relative;
  z-index: 3;
}

.hero::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(22deg, red 0%, rgba(33, 1, 1, 0) 100%);
  z-index: 0;
}

.hero__title {
  position: relative;
  color: #FFFFFF;
  font-size: 4.375rem;
  max-width: 27.5rem;
  line-height: 5rem;
}

.hero__title::after {
  content: '';
  width: 100px;
  height: 4px;
  background-color: #ffcc00;
  position: absolute;
  bottom: -2.5rem;
  left: 0;
}

.hero__text {
  font-weight: normal;
  max-width: 46.6rem;
  color: #ffcc00;
  font-size: 1.25rem;
  margin-top: 5.25rem;
}

.hero__sab-text {
  position: relative;
  max-width: 28.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 1.25rem;
  margin-top: 2.5rem;
}

.hero__sab-text::before {
  content: '';
  position: absolute;
  background-color: #ffcc00;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  right: 180px;
  top: 18px;
}

.hero__sab-text::after {
  content: '';
  position: absolute;
  background-color: #ffcc00;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  left: 127px;
  top: 18px;
}

.button {
  margin-top: 2.56rem;
  margin-right: 1.18rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.button__yellow {
  border: none;
  color: #ba0000;
  background-color: #ffcc00;
  border-radius: 50px;
}

.button__yellow:hover {
  -webkit-filter: drop-shadow(0 5px 20px #ffcc00);
          filter: drop-shadow(0 5px 20px #ffcc00);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button__white {
  border-radius: 50px;
  background: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.button__white:hover {
  -webkit-filter: drop-shadow(0 5px 20px #FFFFFF);
          filter: drop-shadow(0 5px 20px #FFFFFF);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.services {
  padding: 6.25rem 23.4rem;
  background-color: #FFFFFF;
}

.services__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.81rem;
  width: 47rem;
  background: url("../img/Services.png") no-repeat center;
  margin-bottom: 4.93rem;
}

.services__title {
  color: #ba0000;
  font-size: 3rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.card__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__title {
  color: #ba0000;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.card__text {
  color: #777777;
  margin-bottom: 1.25rem;
}

.card__link {
  position: relative;
  color: #222222;
  font-weight: bold;
  text-decoration: none;
  list-style-image: url("../img/sasha_mudak.png");
}

.card__link::after {
  position: absolute;
  background: url("../img/favicon.ico") no-repeat center;
  top: 0;
  right: 0;
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: #ba0000;
  color: #FFFFFF;
  padding: 2.075rem;
}

.card__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.43rem;
}

.card__top {
  position: relative;
  margin-bottom: 1.875rem;
  padding-bottom: 1.875rem;
}

.card__top::after {
  content: '';
  width: 80px;
  height: 2px;
  background-color: #ffcc00;
  position: absolute;
  bottom: 0;
  left: 0;
}

.list-item {
  background: #9d0000;
  padding: 13px 46px;
}

.list__top {
  font-weight: bold;
  padding-bottom: 1.875rem;
}

.list__bottom {
  font-weight: normal;
}

.button__item {
  width: 50px;
  height: 50px;
  background-color: #ffcc00;
  border: none;
}

.button__item-link {
  max-width: 150px;
  padding: 1.25rem 0;
  margin-top: 1.25rem;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ba0000;
  background-color: #ffcc00;
  border-radius: 50px;
  border: none;
}

.button__item-link:hover {
  -webkit-filter: drop-shadow(0 5px 15px #ffcc00);
          filter: drop-shadow(0 5px 15px #ffcc00);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.provider {
  padding: 6.25rem 0;
  padding-bottom: 23.75rem;
  background: url("../img/fon.png") no-repeat center;
}

.provider__title {
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
  font-size: 34px;
}

.provider__button {
  margin-top: 3.125rem;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  border: none;
  background: #ffcc00 url("../img/travel.png") no-repeat center;
}

.provider__button:hover {
  -webkit-filter: drop-shadow(0 5px 10px #ffcc00);
          filter: drop-shadow(0 5px 10px #ffcc00);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -12.5rem;
  margin-bottom: 6.25rem;
}

.card1 {
  margin-bottom: 15rem;
  -webkit-box-shadow: 0 10px 5px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 5px -1px rgba(0, 0, 0, 0.1);
}

.card1__title {
  margin-left: 1.48rem;
  color: #ba0000;
  font-weight: bold;
  margin-top: 1.875rem;
}

.card1__listed {
  background-color: #fff;
  color: #777777;
  margin-top: 1rem;
  margin-bottom: 1.875rem;
}

.list {
  list-style-type: none;
  list-style-image: url("../img/dodick.png");
}

.logisticks-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logisticks-form__container {
  max-width: 35.68rem;
  width: 100%;
}

.logisticks-form__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logisticks-form__choice {
  background-color: #ba0000;
  padding: 2.5rem;
}

.logisticks-form__title {
  font-weight: bold;
  background-color: #ffcc00;
  color: #ba0000;
  border: none;
  width: 50%;
  padding: 1.25rem 0rem;
}

.logisticks-form__title--chosen {
  background-color: #ba0000;
  color: #FFFFFF;
}

.logisticks-form__select {
  margin-bottom: 1.18rem;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logisticks-form__select:last-of-type {
  margin-bottom: 0;
}

.logisticks-form__select--active {
  height: auto;
  color: #ba0000;
  border: 2px solid #ba0000;
  display: block;
}

.logisticks-form__select--active .logisticks-select__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 2px solid #ba0000;
}

.logisticks-form__select--active .logisticks-select__heading {
  color: #ba0000;
  font-weight: bold;
}

.logisticks-select__titles {
  background-color: #ffcc00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
}

.logisticks-select__heading {
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 1rem 1rem 1.25rem;
}

.logisticks-select__button {
  background-color: #ba0000;
  border: none;
  border-left: 2px solid #FFFFFF;
  padding: 1.43rem;
  background: url("../img/logistick-arrow.png");
}

.logisticks-list {
  border: 2px solid #ffcc00;
  background-color: #a00000;
  padding: 1.18rem 3.125rem 1.18rem 1.18rem;
}

.logisticks-list__list {
  padding-left: 1.3rem;
}

.logisticks-list__heading {
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.logisticks-list__item {
  color: #FFFFFF;
  list-style-image: url(../img/dodick.png);
}

.logisticks-img {
  position: relative;
}

.logisticks-img::after {
  content: '';
  position: absolute;
  border: 15px solid #ffcc00;
  width: 27.1rem;
  height: 31.25rem;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=style.css.map */