.header
    width: 100%
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        &-link
            text-decoration: none
            color: $White
    &__menu
        background-color: $Reds
.logo
    background-color: $Yellow
.nav
    &__item
        color: $Reds
        text-decoration: none
        text-transform: uppercase




