.cards
    display: flex
    justify-content: space-between
    margin-top: -12.5rem
.card1
    margin-bottom: 15rem
    &__title
        color: $Reds
        font-weight: bold
        margin-bottom: 1.875em
    &__listed
        background-color: #fff
        color: $Gray
        